{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <style>
        
        body{
            margin-top: 50px;
        }
        .heading{

background-color: #1C87B9;
padding: 15px;
padding-left: 50px;
color: white;
        }

        details{
           
          padding-top: 40px;
          padding-left: 50px;
        }
        
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" target="_blank">HOME</a>
    </div>
    <div class="box">
        <div class="heading">
        <h1 >Frequently Asked Questions (FAQs)</h1>
    </div>
        <div class="faq">
            <details>
                <summary>
                    What is YOBAI?
                </summary>
                <p class="text">Yobai is a web application that will be designed primarily for school proprietors of primary and secondary
                    schools in Abeokuta in Ogun state, Nigeria to enable them identify debtors before granting them admission
                    into their schools. This platform will also give access to parents or guardians to enable them challenge their 
                   debt status or make comments on the posts relating to them in the event that they were wrongly tagged as 
                   debtors. This idea is borne out of the need to assist school owners in tracking potential debtors and admitting
                   only those cleared of all debts into their institutions. </p>
            </details>
            <br>
<details>
    <summary>
        How do I contend a post?
    </summary>
    <p class="text">After signing up on the platform,
        a Parent/Guardian can add their children/wards if they were listed as debtors.
        When that's done, there is a button underneath the post, that reads "contend post".
        Submit the necessary documents to support your argument.
        Lastly, wait for comfirmation from the School.</p>
</details>
<br>

<details>
    <summary>
        Is Registration free?
    </summary>
    <p class="text">Of course, registration is totally free.
        This platform is supposed to help you pay debts and not pile them up :)</p>
</details>
<br>

<details>
    <summary>
        How long does it take to review a post?
    </summary>
    <p class="text">On average, it takes less than 48 hours to review a post.
        However, it really depends on the availability of documents presented by the Parent/Guardian
        and the number of posts that have been contended.</p>
</details>
<br>

<details>
    <summary>
        Can I just correct the details on a post myself?
    </summary>
    <p class="text">No. Only an authenticated School profile can edit a post.</p>
</details>
<br>

<details>
    <summary>
        Why should I Register?
    </summary>
    <p class="text">As a school, it prevents you from recycling debtors in the educational system</p>
    <p class="text">As a Parent, it enable you monitor the status of your ward in a school </p>
</details>
<br>
        </div>

    </div>
</body>
</html>