{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href=" {% static 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src=" {% static 'images/websitelogo.svg' %}" alt="the website Logo" />
    </header>
    <main>
      <section id="register_as_Parent">
        <div class="top">
          <div class="Sign-Up">
            <a href="#"> <p class="sign-up-">Sign-Up</p></a>
          </div>
          </div>
        </div>
        <!-- Regisgraction field -->
        <div class="reg">
           
          {% for message in messages %}
          <h5>{{message}}</h5>
          {% endfor %}

          <form action="parentregister" method="POST">
            {% csrf_token%}
            <div class="container">
              <div class="container-header">
                <h1 class="text-big">Sign Up as Parent</h1>
                <p class="text-small">
                  Want to sign up as School? <a href="#">Here</a>
                </p>
              </div>
              <div class="name">
                <div>
              <label for="firstName"><b class="text-mid">First Name</b> </label>
              <input
                type="text"
                placeholder="Enter First Name"
                name="username"
                required
              />
              </div>
              <div>
              <label for="firstName"><b class="text-mid">Surname</b> </label>
              <input
                type="text"
                placeholder="Enter Surname"
                name="surname"
                required
              />
              </div>
              </div>
              <label for="email"><b class="text-mid">Email</b></label>
              <input
                type="text"
                placeholder="Enter Email"
                name="email"
                required
              />
              <label for="phone"><b class="text-mid">Phone Number</b></label>
              <input
                type="tel"
                placeholder="Enter Phone Number"
                name="phone_number"
                required
              />
              <label for="contactAddress">
                <b class="text-mid">Contact Address</b></label
              >
              <input
                type="text"
                placeholder="Enter Address"
                name="contact_address"
                required
              />
              <label for="occupation"
                ><b class="text-mid">Occupation</b>
              </label>
              <input
                type="text"
                placeholder="Enter occupation"
                name="occupation"
                required
              />
              <!-- Adjust -->
              <label for="selectSch"
                ><b class="text-mid">Select School of Ward</b>
              </label>
              <input
                type="text"
                placeholder="Enter School Name"
                name="school_of_children"
                required
              />

              <label for="children_num"
                ><b class="text-mid">Number of Ward</b>
              </label>
              <input
                type="text"
                placeholder="Enter Number of ward"
                name="number_of_ward"
                required
              />

              <label for="psw"><b class="text-mid">Password</b></label>
              <input
                type="password"
                placeholder="Enter Password"
                name="password"
                required
              />
              <label for="psw-repeat"
                ><b class="text-mid">Confirm Password</b></label
              >
              <input
                type="password"
                placeholder="Repeat Password"
                name="password2"
                required
              />
              <hr />

              <button type="submit" class="registerbtn">Sign Up</button>
            </div>
          </form>
          <div>
            <img
              src=" {% static 'images/parent.svg' %}"
              alt="parent Image"
              height="912px"
              width="635px"
            />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
